.correspondence {
  padding-top: 40px;
  padding-bottom: 40px;
}

.correspondence__h2 {
  margin-bottom: 20px;
}

.correspondence__panel {
  display: flex;
  box-sizing: border-box;
  height: 557px;
  margin-top: 20px;
  border: solid 1px #eaeeef;
  border-radius: 10px;
  background-color: #fff;
}

.correspondence__chats {
  width: 200px;
  border-right: solid 1px #eaeeef;
}

.correspondence__search[type="search"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: inset 0 -1px 0 0 #eaeeef;
}

.correspondence__chats li {
  box-sizing: border-box;
  height: 60px;
  padding: 10px;
}

.correspondence__chats li:not(._is-active) {
  cursor: pointer;
}

.correspondence__chats li._is-active {
  background-color: #d9e2e7;
}

.correspondence__chat-image {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.correspondence__sender-name {
  font-size: 12px;
  line-height: 17px;
  margin-top: 4px;
  margin-bottom: 0;
  color: #4a4a4a;
}

.correspondence__chat-info {
  font-size: 10px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #868d95;
}

.correspondence__chat-info_got-new {
  color: #f89e01;
}

.correspondence__main {
  width: calc(100% - 200px);
}

.correspondence__header {
  display: flex;
  box-shadow: inset 0 -1px 0 0 #eaeeef;
}

.correspondence__caption-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  overflow: hidden;
  width: 100%;
  padding: 16px 20px 18px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #455056;
}

.correspondence__write-message {
  flex-shrink: 0;
  width: auto;
  padding-right: 30px;
  padding-left: 30px;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: inset 1px -1px 0 0 #eaeeef;
}

.correspondence__body {
  padding: 23px 20px;
}

.correspondence__body .chat__history {
  height: auto;
  border-bottom: 0;
}
