/* ==========================================================================
   Header
   ========================================================================== */
.menu-btn-wrapper {
  position: relative;
}

.menu-btn {
  font-size: 20px;
  position: absolute;
  z-index: 1111;
  top: 0;
  right: -60px;
  width: 60px;
  height: 60px;
  padding: 0;
  cursor: pointer;
  text-align: center;
  color: red;
  border: 0;
  background: url(../img/menu-btn.svg) no-repeat center / 16px auto;
}


/* ==========================================================================
   Dashboard
   ========================================================================== */
.dashboard {
  padding-bottom: 40px;
}

.dashboard_forbidden {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.dashboard__header {
  position: relative;
  margin-bottom: 20px;
}

.dashboard_forbidden .dashboard__header {
  margin-bottom: 0;
}

.dashboard__header::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -60px;
  bottom: 0;
  left: -100px;
  content: "";
  background: #fff;
  box-shadow: 0 1px #eaeeef;
}

.dashboard_forbidden .dashboard__header::before {
  display: none;
}

.dashboard__h2 {
  margin-bottom: 10px;
  padding-top: 40px;
}

.dashboard__h3 {
  margin-top: -5px;
  margin-bottom: 20px;
}

.dashboard .flex .h3 {
  margin-bottom: 0;
}

.dashboard_forbidden .dashboard__h3 {
  margin-bottom: 0;
}

.dashboard__h3-link {
  margin-left: 10px;
}

.dashboard__forbidden {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  color: #b1b6bb;
}

.dashboard__divided-h3 {
  display: flex;
}

.dashboard__divided-h3 span + span {
  position: relative;
  margin-left: 22px;
}

.dashboard__divided-h3 span + span::before {
  position: absolute;
  top: 2px;
  left: -12px;
  width: 2px;
  height: 28px;
  content: "";
  background-color: #f89e01;
}

.dashboard__back-wrapper {
  position: relative;
}

.dashboard__back-wrapper::before {
  position: absolute;
  top: -2px;
  left: 10px;
  width: 2px;
  height: 28px;
  content: "";
  background-color: #f89e01;
}

.dashboard__back-link {
  font-size: 16px;
  line-height: 22px;
  margin-left: 22px;
  color: #7e8890;
}

.dashboard__p-h3 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.dashboard__p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #565f64;
}

.dashboard__ul {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  list-style: none;
  color: #7e8890;
}

.dashboard__ul li {
  margin-top: 5px;
}

.dashboard__tabs-titles {
  display: flex;
  margin-left: -15px;
}

.dashboard__tabs-titles > li {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 6px;
  cursor: pointer;
  color: #b1b6bb;
}

.dashboard__tabs-titles > li._is-active {
  cursor: auto;
  color: #f89e01;
  box-shadow: 0 1px 0 #f89e01;
}

/* Company card
   ========================================================================== */
.company-card {
  overflow: hidden;
  padding-top: 30px;
  border: solid 1px #eaeeef;
  border-radius: 8px;
  background: #fff;
}

.company-card__info {
  display: flex;
  padding-right: 60px;
  padding-left: 60px;
}

.company-card__info > * {
  width: 100%;
}

.company-card__logo {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  box-sizing: border-box;
  width: 140px;
  height: 140px;
  margin-right: 60px;
  margin-bottom: 30px;
  border: 1px solid #eaeeef;
  border-radius: 50%;
}

.company-card__logo img {
  max-width: 100%;
  max-height: 100%;
}

.company-card__chooser {
  position: relative;
  box-sizing: border-box;
  width: 400px;
  padding: 9px 20px 10px;
  cursor: pointer;
  border: solid 1px #eaeeef;
  border-radius: 10px;
}

._is-open .company-card__chooser {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.company-card__chooser::after {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 13px;
  height: 8px;
  content: "";
  transform: translateY(-50%);
  background: url(../img/company-choser_arrow.svg) no-repeat center / 13px 8px;
}

.company-card__chooser b {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin-right: 6px;
  color: #4a4a4a;
}

.company-card__chooser p {
  font-size: 14px;
  line-height: 19px;
  margin-top: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #868d95;
}

.company-card__places {
  position: absolute;
  top: 100%;
  right: -1px;
  left: -1px;
  box-sizing: border-box;
  cursor: auto;
  border: 1px solid #eaeeef;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
}

.company-card__places::before {
  position: absolute;
  top: -11px;
  right: -1px;
  left: -1px;
  height: 10px;
  content: "";
  border-right: 1px solid #eaeeef;
  border-left: 1px solid #eaeeef;
  background: #fff;
}

.company-card__places li {
  padding: 9px 20px 11px;
}

.company-card__places li:hover {
  cursor: pointer;
  background-color: #eee;
}

.company-card__places li:not(:last-child) {
  border-bottom: 1px solid #eaeeef;
}

.company-card__places li:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.company-card__places p {
  margin-top: 0;
}

.company-card__places span {
  font-size: 12px;
  line-height: 17px;
  color: #7e8890;
}

.company-card__name b {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin-right: 6px;
  color: #4a4a4a;
}

.company-card__name p {
  font-size: 14px;
  line-height: 19px;
  margin-top: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #868d95;
}

.company-card__data {
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #7e8890;
}

.company-card__description {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-right: 60px;
  padding-left: 60px;
}

.company-card__description:last-child {
  margin-bottom: 40px;
}

.company-card__description p {
  font-size: 14px;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 0;
  color: #7e8890;
}

.company-card__map {
  font-size: 0;
  margin-top: 20px;
}

.company-card__hr {
  margin-top: 15px;
  margin-bottom: 13px;
}

.company-card__assessment {
  display: flex;
}

.company-card__points {
  width: 160px;
  margin-right: 40px;
}

._is-minimized + .grid__column .company-card__points {
  width: 200px;
}

.company-card__points b {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
  color: #455056;
}

.company-card__claims b {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-bottom: 5px;
  color: #455056;
}

.company-card__claims p {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  color: #455056;
}

/* Assortment
   ========================================================================== */
.products {
  margin-top: 30px;
}

.products__heading {
  display: flex;
  align-items: baseline;
}

.products__heading h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #455056;
}

.products__heading .link {
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}

.products__update-date {
  font-size: 12px;
  line-height: 17px;
  margin-top: -10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #b1b6bb;
}

.product-card {
  line-height: 0;
  box-sizing: border-box;
  padding: 15px 20px;
  text-align: center;
  border: solid 1px #eaeeef;
  border-radius: 5px;
  background: #fff;
}

.product-card img {
  max-width: 120px;
  max-height: 120px;
}

.product-card__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 14px;
  margin-bottom: 0;
  color: #4a4a4a;
}

.product-card__category {
  font-size: 12px;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #868d95;
}

/* Points
   ========================================================================== */
.points {
  margin-top: 30px;
}

.points__heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #455056;
}

.points__table {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 0 1px #eaeeef;
}

.points__table thead {
  background-color: #d9e2e7;
}

.points__table th {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  box-sizing: border-box;
  padding: 14px 20px 15px 0;
  text-align: left;
  text-transform: uppercase;
  color: #455056;
}

.points__table td {
  position: relative;
  box-sizing: border-box;
  padding: 14px 20px 15px 0;
  vertical-align: middle;
}

.points__table th:first-child,
.points__table td:first-child {
  box-sizing: border-box;
  width: 260px;
  padding-right: 40px;
  padding-left: 20px;
}

._is-minimized + .grid__column .points__table th:first-child,
._is-minimized + .grid__column .points__table td:first-child {
  width: 300px;
}

.points__table tr:not(:last-child) td::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  content: "";
  background: #eaeeef;
}

.points__table tr:not(:last-child) td:first-child::after {
  left: 20px;
}

.points__table tr:not(:last-child) td:last-child::after {
  right: 20px;
}

.points__table span {
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #f89e01;
}

.points__table p {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  margin-top: 5px;
  margin-bottom: 0;
  color: #455056;
}

.points__table b {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #455056;
}

/* Requisites
   ========================================================================== */
.requisites {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 0 1px #eaeeef;
}

.requisites td {
  font-size: 14px;
  line-height: 17px;
  position: relative;
  box-sizing: border-box;
  padding: 14px 20px 15px 0;
  vertical-align: middle;
  color: #455056;
}

.requisites td:first-child {
  line-height: 19px;
  width: 260px;
  padding-right: 60px;
  padding-left: 20px;
  text-transform: uppercase;
}

._is-minimized + .grid__column .requisites td:first-child {
  width: 300px;
}

.requisites tr:not(:last-child) td::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  content: "";
  background: #eaeeef;
}

.requisites tr:not(:last-child) td:first-child::after {
  left: 20px;
}

.requisites tr:not(:last-child) td:last-child::after {
  right: 20px;
}


/* ==========================================================================
   Text selector
   ========================================================================== */
.text-selector,
.h3-selector {
  display: flex;
  align-items: baseline;
}

.text-selector span {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  margin-right: 5px;
  text-transform: uppercase;
  color: #4a4a4a;
}

.h3-selector > span {
  margin-right: 10px;
}

.text-select,
.text-select * {
  box-sizing: border-box;
}

.text-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.text-select .dk-selected {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  position: relative;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  color: #b1b6bb;
  outline: none;
}

.text-select .dk-select-options {
  position: absolute;
  z-index: 13;
  left: 50%;
  display: none;
  width: 290px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
}

.text-select_right .dk-select-options {
  right: 0;
  left: auto;
}

.text-select.dk-select-open-up .dk-select-options {
  bottom: 100%;
  transform: translate(-50%,-12px);
}

.text-select.dk-select-open-down .dk-select-options {
  top: 100%;
  transform: translate(-50%,12px);
}

.text-select_right.dk-select-open-up .dk-select-options {
  transform: translate(0,-12px);
}

.text-select_right.dk-select-open-down .dk-select-options {
  transform: translate(0,12px);
}

.text-select .dk-select-options::before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  content: "";
  transform: translate(-50%,-50%) rotate(45deg);
  background: #fff;
}

.text-select .dk-option-selected {
  opacity: .6;
}

.text-select .dk-option {
  font-size: 12px;
  line-height: 17px;
  position: relative;
  padding: 9px 10px 11px;
  text-align: center;
  color: #7e8890;
}

.text-select .dk-option:not(:last-child) {
  border-bottom: solid 1px #eaeeef;
}

.text-select .dk-select-options .dk-option-hidden {
  display: none;
}

.text-select.dk-select-open-up .dk-selected,
.text-select.dk-select-open-down .dk-selected {
  color: #f89e01;
}

.text-select.dk-select-open-up .dk-select-options,
.text-select.dk-select-open-down .dk-select-options {
  display: block;
}

select[data-dkcacheid] {
  display: none;
}


/* ==========================================================================
   Notices
   ========================================================================== */
.notices__category-chooser {
  font-size: 14px;
  line-height: 19px;
  position: absolute;
  top: 7px;
  right: 161px;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}


/* ==========================================================================
   Payment type
   ========================================================================== */
.payment-type input[type="radio"] {
  display: none;
}

.payment-type input[type="radio"] + label {
  font-size: 14px;
  line-height: 19px;
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 70px;
  padding: 15px 60px 17px 20px;
  opacity: .6;
  color: #455056;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 0 0 1px #eaeeef;
}

.payment-type input[type="radio"]:checked + label {
  opacity: 1;
  box-shadow: inset 0 0 0 2px #f89e01;
}

.payment-type input[type="radio"] + label::after {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 50%;
  background-color: #eaeeef;
}

.payment-type input[type="radio"]:checked + label::after {
  background-color: #f89e01;
}

.payment-type__caption {
  font-size: 12px;
  line-height: 17px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #7e8890;
}


/* ==========================================================================
   Invoicing
   ========================================================================== */
.invoicing__checkbox + label {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
}

.invoicing__caption {
  margin-top: 0;
}

.invoicing__link {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  margin-top: 3px;
  margin-bottom: 0;
}

.invoicing__link:first-child {
  margin-top: 0;
}
