.menu-btn-wrapper {
  position: relative;
}

.menu-btn {
  font-size: 20px;
  position: absolute;
  z-index: 1111;
  top: 0;
  right: -60px;
  width: 60px;
  height: 60px;
  text-align: center;
  color: red;
  border: 0;
  background: none;
}

.side-panel {
  position: relative;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  background-color: #3b4458;
}

.side-panel > li {
  font-size: 16px;
  line-height: 22px;
  padding: 15px 58px 13px;
  color: #f8f8fb;
}

.accordion-title {
  cursor: pointer;
}

.side-panel > li > ul {
  margin: 13px -58px -13px;
  padding-left: 0;
  list-style: none;
  background-color: rgba(255,255,255,.05);
}

.side-panel > li > ul > li {
  padding: 15px 30px 16px;
}

.side-panel > li > ul > li a {
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  text-transform: uppercase;
  color: #b1b6bb;
}

.side-panel > li > ul > li a:not([href]) {
  color: #f3f3f3;
}
