.menu-btn-wrapper {
  position: relative;
}

.menu-btn {
  font-size: 20px;
  position: absolute;
  z-index: 1111;
  top: 0;
  right: -60px;
  width: 60px;
  height: 60px;
  text-align: center;
  color: red;
  border: 0;
  background: none;
}
