.form > *:first-child {
  margin-top: 0;
}

.form__row {
  align-items: baseline;
}

.form__row_top {
  align-items: flex-start;
}

.form__row + .form__row {
  margin-top: 15px;
}

/* Input
   ========================================================================== */
.form__input {
  font: 400 14px / 19px "Open Sans", Helvetica, Arial, sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  padding: 15px 20px 16px;
  color: #455056;
  border: solid 1px #eaeeef;
  border-radius: 10px;
  background-color: #fff;
}

.form__row .form__input {
  margin-top: 15px;
}

.form__input:first-child {
  margin-top: 0;
}

.form__input::-webkit-input-placeholder {
  opacity: .6;
}

/* Label
   ========================================================================== */
.form__label {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  color: #4a4a4a;
}

.form__row_top .form__label {
  margin-top: 14px;
}

/* Caption for label
   ========================================================================== */
.form__label-caption {
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #7e8890;
}

/* Input-row
   ========================================================================== */
.form__input-row {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.form__input-row .form__input {
  margin-top: 0;
}

.form__input-row .form__input:not(:last-of-type) {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form__input-row .form__input:not(:first-of-type) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Checkbox
   ========================================================================== */
.form__checkbox {
  display: none;
}

.form__checkbox + label {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  position: relative;
  display: block;
  box-sizing: border-box;
  min-height: 34px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 6px;
  color: #4a4a4a;
}

.form__checkbox + label::before,
.form__checkbox + label::after {
  position: absolute;
  right: 0;
  cursor: pointer;
  border-radius: 17px;
}

.form__checkbox + label::before {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  top: 0;
  box-sizing: border-box;
  width: 74px;
  height: 34px;
  padding: 8px 10px;
  content: "нет";
  text-align: right;
  text-transform: uppercase;
  color: #7e8890;
  background-color: #d9e2e7;
}

.form__checkbox:checked + label::before {
  content: "да";
  text-align: left;
  color: #fff;
  background-color: #f89e01;
}

.form__checkbox + label::after {
  top: 3px;
  width: 28px;
  height: 28px;
  content: "";
  transition: transform .1s ease-in-out;
  transform: translateX(-43px);
  background: #7e8890 url(/img/form_checkbox.svg) no-repeat center / 12px auto;
}

.form__checkbox:checked + label::after {
  transform: translateX(-3px);
  background: #fff url(/img/form_checkbox-checked.svg) no-repeat center / 14px auto;
}

/* Select
   ========================================================================== */
.form__select {
  font: 400 14px / 19px "Open Sans", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  padding: 15px 36px 16px 20px;
  text-align: center;
  color: #455056;
  border: solid 1px #eaeeef;
  border-radius: 10px;
  background-color: #fff;
}

.form__select:first-child {
  margin-top: 0;
}

/* Button
   ========================================================================== */
.form__button {
  margin-top: 30px;
}

/* Link
   ========================================================================== */
.form__link {
  font-size: 14px;
  line-height: 20px;
}
