.page-header {
  position: relative;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

.page-header__container {
  display: flex;
  align-items: center;
  height: 60px;
}

.page-header__grid {
  align-items: center;
  width: calc(100% + 60px);
  height: 100%;
}

.logo {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f89e01;
}

.logo_panel {
  display: block;
  padding: 18px;
  text-align: center;
  color: #fff;
  background-color: #f89e01;
}

.logo_small {
  display: none;
}

._is-minimized .logo_panel {
  display: none;
}

._is-minimized .logo_small {
  display: block;
}

.user-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -30px;
  padding-left: 0;
  list-style: none;
}

.user-actions__link {
  font-size: 16px;
  line-height: 22px;
  color: #7e8890;
}

.user-actions__item {
  margin-left: 30px;
}

.user-actions__item_notifications .user-actions__link {
  font-size: 0;
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/user-actions_notifications.svg) no-repeat center / contain;
}

.user-actions__item_messages .user-actions__link {
  font-size: 0;
  display: block;
  width: 24px;
  height: 18px;
  background: url(../img/user-actions_messages.svg) no-repeat center / contain;
}

.user-actions__item_profile .link {
  position: relative;
  display: block;
  padding-right: 54px;
}

.user-actions__avatar {
  position: absolute;
  top: 50%;
  right: 0;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  content: "";
  transform: translateY(-50%);
  border-radius: 50%;
  background: #fff no-repeat center / contain;
  box-shadow: 0 0 0 .5px #d9e2e7;
}

.user-actions__item_login,
.user-actions__item_logout {
  position: relative;
  margin-left: 62px;
}

.user-actions__item_logout {
  font-weight: 600;
}

.user-actions__item_login::before,
.user-actions__item_logout::before {
  position: absolute;
  top: -4px;
  left: -32px;
  width: 2px;
  height: 32px;
  content: "";
  border-radius: 2px;
}

.user-actions__item_login::before {
  background-color: #f8f9fb;
}

.user-actions__item_logout::before {
  background-color: #d9e2e7;
}
