.login {
  margin-top: 99px;
}

.login__form {
  margin-top: 30px;
}

.login__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  color: #b1b6bb;
}

.prev-page {
  font-size: 14px;
  line-height: 19px;
  position: absolute;
  top: 106px;
  left: 60px;
  padding-left: 18px;
  cursor: pointer;
  color: #7e8890;
}
