body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #f8f9fb;
}

.container {
  box-sizing: border-box;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
}


/* ==========================================================================
   Grid
   ========================================================================== */
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
}

.grid > * {
  box-sizing: border-box;
  padding-left: 40px;
}

.grid__column_1-6 {
  width: 16.666%;
}

.grid__column_1-4 {
  width: 25%;
}

.grid__column_3-4 {
  width: 75%;
}

.grid__column_2-5 {
  width: 40%;
}

.grid__column_center {
  margin-right: auto;
  margin-left: auto;
}
