.rating,
.rating > span {
  display: inline-flex;
  height: 14px;
  background: url(../img/rating-star.svg) repeat-x left center;
}

.rating > span {
  background-image: url(../img/rating-star_fill.svg);
}

.rating-reviews {
  display: flex;
}

.rating-reviews__reviews {
  font-size: 14px;
  line-height: 19px;
  margin-top: -3px;
  margin-left: 3px;
  color: #b1b6bb;
}
