.landing-footer {
  padding-top: 23px;
  padding-bottom: 30px;
  color: #fff;
  border-top: 1px solid #ddd;
  background-color: #000;
}

.landing-footer__logo {
  margin-bottom: 24px;
  background-image: url(../../img/logo_contrast.svg);
}

.landing-footer__contacts {
  font-size: 12px;
  line-height: 17px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #d5d5d5;
}

.landing-footer__contacts:first-child {
  margin-top: 0;
}

.landing-footer__contacts span {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  display: block;
  color: #eaeeef;
}

.landing-footer__list {
  margin-top: -10px;
}

.landing-footer__list li {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-top: 10px;
  color: #d9e2e7;
}

.landing-footer__list a {
  text-decoration: none;
  color: inherit;
}
