.landing-header {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

.landing-header__container {
  display: flex;
  align-items: center;
  height: 60px;
}

.landing-header__logo {
  margin-right: auto;
  background-image: url(../../img/logo_contrast.svg);
}

.landing-header__user-actions .user-actions__link {
  color: #f8f9fb;
}

.landing-header__phone-link {
  margin-right: 100px;
  white-space: nowrap;
  color: #f8f9fb;
}
